<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
      {% include 'receipt.css' %}
    </style>
</head>
<body>
      <div class="receipt">

      <h2 class="name"> שינוע חברתי </h2>

      <p class="greeting"> שמחנו לקבל את פנייתך! להלן התוצאות </p>

      <!-- Order info -->
      <div class="order">

        <p> מספר הזמנה : 6 </p>
        <p> שם הזמנה : {{ name }} </p>
        <p> תאריך הזמנה : {{ date }} </p>
        <p> כתובת הזמנה : {{ address }} </p>

      </div>

      <hr>

      <!-- Details -->
      <div class="details">

        <h3> מוצרים </h3>
        {% for product in ordered_products %}
        <div class="product">

            <h4> {{ product.name }} </h4>
            {% for image_url in product.image_url_list %}
            <img src="{{ image_url }}">
            {% endfor %}


          <div class="info">

            <p> תיאור : {{ product.description }} </p>
            <p> כמות : {{ product.amount }} </p>

          </div>

        </div>
        {% endfor %}
      </div>

    </div>
</body>
</html>
